@model BlogVM
<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->
<section class="hidden-bar">
    <div class="inner-box text-center">
        <div class="cross-icon"><span class="fa fa-times"></span></div>
        <div class="title">
            <h4>Get Appointment</h4>
        </div>

        <!--Appointment Form-->
        <div class="appointment-form">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="text" name="text" value="" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <textarea placeholder="Message" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="theme-btn">Submit now</button>
                </div>
            </form>
        </div>

        <!--Social Icons-->
        <div class="social-style-one">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</section>
<!--End Hidden Sidebar -->
<!-- Page Banner Start -->
<section class="page-banner-area pt-140 rpy-80 pb-150 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(/assets/images/blog/@Model.Blog.HoverImage)">
    <div class="container">
        <div class="banner-inner text-white">
            <h1 class="page-title wow fadeInUp delay-0-2s">Knowing Business & Priorities</h1>
            <ul class="blog-meta style-two mt-20 wow fadeInUp delay-0-3s">
              
                <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#">@Model.Blog.BlogDate.ToShortDateString()</a>
                </li>
                <li>
                    <i class="far fa-comments"></i>
                    <a href="#">Comments (@Model.Blog.Comments.Count)</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Blog Details Area start -->
<section class="blog-details-area py-130 rpy-100 rel z-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-content">
                    <p class="big-first-letter">Q @Model.Blog.Desc1 </p>

                    <div class="image my-40 wow fadeInUp delay-0-2s">
                        <img src="~/assets/images/blog/@Model.Blog.MainImage" alt="Blog Single">
                    </div>
                    <blockquote>
                        @Model.Blog.Title
                       
                    </blockquote>
                    <p>@Model.Blog.Desc2</p>


                </div>
                <div class="tag-share py-30 wow fadeInUp delay-0-2s">
                    <div class="item">
                        <div class="tag-coulds">
                            <a href="blog.html">Hotel & Suites</a>
                            <a href="blog.html">Beach</a>
                            <a href="blog.html">Pool</a>
                            <a href="blog.html">Luxury</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="social-style-four">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="admin-comment bgc-lighter mb-60 wow fadeInUp delay-0-2s">
                    <div class="comment-body">
                        <div class="author-thumb">
                            <img src="~/assets/images/blog/admin-author.jpg" alt="Author">
                        </div>
                        <div class="content">
                            <h5>Richard M. Fudge</h5>
                            <p>We denounce with righteous indignation and dislike men beguiled and demoralized by the charms of pleasure of the moment</p>
                            <div class="social-style-two">
                                <a href="contact.html"><i class="fab fa-facebook-f"></i></a>
                                <a href="contact.html"><i class="fab fa-twitter"></i></a>
                                <a href="contact.html"><i class="fab fa-linkedin-in"></i></a>
                                <a href="contact.html"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comments">
                    <h3 class="comment-title">Popular Comments</h3>
                    @foreach (var item in Model.Comments)
                    {
                        <div class="comment-body wow fadeInUp delay-0-2s">
                            <div class="author-thumb">
                                <img src="~/assets/images/User/@item.AppUser.UserImage" alt="Author">
                            </div>
                            <div class="content">
                                <ul class="blog-meta">
                                    <li>
                                        <h6>@item.AppUser.Name</h6>
                                    </li>
                                    <li>
                                        <a href="#">@item.CommentDate.ToLongDateString()</a>
                                    </li>
                                </ul>
                                <p>@item.CommentContent</p>
                                <a class="read-more" href="#">Reply <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    }

                </div>
                <form class="comment-form bgc-lighter mt-60 wow fadeInUp delay-0-2s" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h3>Leave a Reply</h3>
                    <p>we denounce with righteous indignation and dislike men who beguiled</p>
                    <div class="row mt-30">
                       

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea asp-for="CommentContent" class="form-control" placeholder="Message" required=""></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-0">
                                <button type="submit" class="theme-btn">Send Comment <i class="far fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="main-sidebar rmt-65">
                    <div class="widget widget-search wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Search</h4>
                        <form action="#" class="default-search-form">
                            <input type="text" placeholder="Keywords" required>
                            <button type="submit" class="searchbutton far fa-search"></button>
                        </form>
                    </div>
                    <div class="widget widget-category wow fadeInUp delay-0-4s">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <li><a href="blog.html">Luxury Hotel & Suites <i class="far fa-angle-right"></i></a></li>
                            <li><a href="blog.html">SPA Treatments <i class="far fa-angle-right"></i></a></li>
                            <li><a href="blog.html">Transportations <i class="far fa-angle-right"></i></a></li>
                            <li><a href="blog.html">Fitness Center <i class="far fa-angle-right"></i></a></li>
                            <li><a href="blog.html">Yoga & GYM <i class="far fa-angle-right"></i></a></li>
                            <li><a href="blog.html">Restaurant <i class="far fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="widget widget-recent-news wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Recent News</h4>
                        <ul>
                            <li>
                                <div class="image">
                                    <img src="~/assets/images/widgets/news1.jpg" alt="News">
                                </div>
                                <div class="content">
                                    <h5><a href="blog-details.html">Tips For Conducting Usability Studies</a></h5>
                                    <a href="blog-details.html" class="read-more">Read More <i class="far fa-angle-right"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="~/assets/images/widgets/news2.jpg" alt="News">
                                </div>
                                <div class="content">
                                    <h5><a href="blog-details.html">Building Accessible Menu Systems</a></h5>
                                    <a href="blog-details.html" class="read-more">Read More <i class="far fa-angle-right"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="~/assets/images/widgets/news3.jpg" alt="News">
                                </div>
                                <div class="content">
                                    <h5><a href="blog-details.html">Tips For Conducting Usability Studies</a></h5>
                                    <a href="blog-details.html" class="read-more">Read More <i class="far fa-angle-right"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="~/assets/images/widgets/news4.jpg" alt="News">
                                </div>
                                <div class="content">
                                    <h5><a href="blog-details.html">Building Accessible Menu Systems</a></h5>
                                    <a href="blog-details.html" class="read-more">Read More <i class="far fa-angle-right"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget-tag-cloud wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Popular Tags</h4>
                        <div class="tag-coulds">
                            <a href="blog.html">Hotel</a>
                            <a href="blog.html">Suites</a>
                            <a href="blog.html">Rooms</a>
                            <a href="blog.html">Restaurant</a>
                            <a href="blog.html">Pool</a>
                            <a href="blog.html">Deluxe</a>
                            <a href="blog.html">Couple</a>
                            <a href="blog.html">Luxury</a>
                            <a href="blog.html">SPA</a>
                        </div>
                    </div>
                    <div class="widget widget-gallery wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Gallery</h4>
                        <div class="gallery-widget">
                            <a href="#"> <img src="~/assets/images/widgets/gallery1.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery2.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery3.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery4.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery5.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery6.jpg" alt="Gallery"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Blog Details Area end -->
<