@model BlogVM
<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->

<!-- Page Banner Start -->
<section class="page-banner-area pt-140 rpy-80 pb-150 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(/assets/images/blog/@Model.Blog.HoverImage)">
    <div class="container">
        <div class="banner-inner text-white">
            <h1 class="page-title wow fadeInUp delay-0-2s">Knowing Business & Priorities</h1>
            <ul class="blog-meta style-two mt-20 wow fadeInUp delay-0-3s">
              
                <li>
                    <i class="far fa-calendar-alt"></i>
                    <a href="#">@Model.Blog.BlogDate.ToShortDateString()</a>
                </li>
                <li>
                    <i class="far fa-comments"></i>
                    <a href="#">Comments (@Model.Blog.Comments.Count)</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Blog Details Area start -->
<section class="blog-details-area py-130 rpy-100 rel z-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-content">
                    <p class="big-first-letter">Q @Model.Blog.Desc1 </p>

                    <div class="image my-40 wow fadeInUp delay-0-2s">
                        <img src="~/assets/images/blog/@Model.Blog.MainImage" alt="Blog Single">
                    </div>
                    <blockquote>
                        @Model.Blog.Title
                       
                    </blockquote>
                    <p>@Model.Blog.Desc2</p>


                </div>
               
                    <div class="item">
                        <div class="social-style-four">
                        <a href="https://www.facebook.com/?locale=az_AZ"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        <a href="https://az.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2F"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
               

                <div class="comments">
                    <h3 class="comment-title">Popular Comments</h3>
                    @foreach (var item in Model.Comments)
                    {
                        <div class="comment-body wow fadeInUp delay-0-2s">
                            <div class="author-thumb">
                                @if (item.AppUser.UserImage != null)
                                {
                                    <img src="~/assets/images/User/@item.AppUser.UserImage" alt="profil.png">
                                }
                                else
                                {
                                    <img src="~/assets/images/User/profil.png" alt="profil.png">
                                }

                            </div>
                          
                            <div class="content">
                                <ul class="blog-meta">
                                    <li>
                                        <h6>@item.AppUser.Name</h6>
                                    </li>
                                    <li>
                                        <a href="#">@item.CommentDate.ToLongDateString()</a>
                                    </li>
                                </ul>
                                <p>@item.CommentContent</p>

                                <div class="rating">
                                    @for (int i = 5; i >= 1; i--)
                                    {
                                        @if (i <= item.Rate)
                                        {
                                            <i class="fas fa-star text-warning"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    }
                                </div>
                               
                            </div>
                        </div>
                    }

                </div>
                <form class="comment-form bgc-lighter mt-60 wow fadeInUp delay-0-2s" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h3>Leave a Reply</h3>
                    <p>we denounce with righteous indignation and dislike men who beguiled</p>
                    <div class="row mt-30">
                       

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea asp-for="CommentContent" class="form-control" placeholder="Message" required=""></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rating">
                                <input type="radio" id="star5" name="Rating" value="5" />
                                <label for="star5" title="5 stars">&#9733;</label>
                                <input type="radio" id="star4" name="Rating" value="4" />
                                <label for="star4" title="4 stars">&#9733;</label>
                                <input type="radio" id="star3" name="Rating" value="3" />
                                <label for="star3" title="3 stars">&#9733;</label>
                                <input type="radio" id="star2" name="Rating" value="2" />
                                <label for="star2" title="2 stars">&#9733;</label>
                                <input type="radio" id="star1" name="Rating" value="1" />
                                <label for="star1" title="1 star">&#9733;</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-0">
                                <button type="submit" class="theme-btn">Send Comment <i class="far fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </form>

                <style>
                    .card-pricing .card-pricing-features li {
                        padding: 15px;
                    }

                    .rating {
                        unicode-bidi: bidi-override;
                        direction: rtl;
                        text-align: center;
                    }

                        .rating > input {
                            display: none;
                        }

                        .rating > label {
                            display: inline-block;
                            position: relative;
                            width: 1.1em;
                            font-size: 3em;
                            color: #ccc;
                            cursor: pointer;
                        }

                            .rating > label:hover,
                            .rating > label:hover ~ label,
                            .rating > input:checked ~ label {
                                color: #fdd835;
                            }
                </style>
            </div>
           
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Blog Details Area end -->
<