@model PaginateVM<Blog>
@{
    int count = (Model.CurrentPage - 1) * 3;
}

<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->
<section class="hidden-bar">
    <div class="inner-box text-center">
        <div class="cross-icon"><span class="fa fa-times"></span></div>
        <div class="title">
            <h4>Get Appointment</h4>
        </div>

        <!--Appointment Form-->
        <div class="appointment-form">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="text" name="text" value="" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <textarea placeholder="Message" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="theme-btn">Submit now</button>
                </div>
            </form>
        </div>

        <!--Social Icons-->
        <div class="social-style-one">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</section>
<!--End Hidden Sidebar -->
<!-- Page Banner Start -->
<section class="page-banner-area pt-170 rpt-110 pb-190 rpb-125 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(/assets/images/background/b2.jpg)">
    <div class="container">
        <div class="banner-inner text-white">
            <h1 class="page-title wow fadeInUp delay-0-2s">Blog Grid</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="index.html">home</a></li>
                    <li class="breadcrumb-item active">Blog Grid</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Blog Area start -->
<section class="blog-page-area py-130 rpy-100 rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model.Items)
            {
                <div class="col-xl-4 col-md-6">
                    <div class="blog-grid-item wow fadeInUp delay-0-2s">
                        <div class="image">
                            <img src="~/assets/images/blog/@item.HoverImage" alt="Blog">
                            <ul class="blog-meta">
                              
                                <li>
                                    <i class="far fa-calendar-alt"></i>
                                    <a href="#">@item.BlogDate</a>
                                </li>
                            </ul>
                        </div>
                        <div class="blog-content">
                            <h4><a href="blog-details.html">@item.Title</a></h4>
                            <p>@item.Desc1</p>
                            <a class="theme-btn" asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id">Read More <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            }

        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(Model.CurrentPage <= 1 ? "disabled" : "")">
                    <a class="page-link" asp-route-page="@(Model.CurrentPage - 1)" asp-action="index" asp-controller="nlog">Back</a>
                </li>
                @for (int i = 0; i < Model.TotalPage; i++)
                {
                    <li class="page-item @(Model.CurrentPage - 1 == i ? "active" : "")">
                        <a class="page-link" asp-route-page="@(i + 1)" asp-action="index" asp-controller="blog">@(i + 1)</a>
                    </li>
                }
                <li class="page-item @(Model.TotalPage <= Model.CurrentPage ? "disabled" : "")">
                    <a class="page-link" asp-route-page="@(Model.CurrentPage + 1)" asp-action="index" asp-controller="blog">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Blog Area end -->
