@model PaginateVM<Room>
@{
    int count = (Model.CurrentPage - 1) * 3;
}

<br />
<br />
<br />
<br />
<br />
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Category Table</h4>
                        <a asp-action="Create" asp-controller="Room" class="btn btn-outline-info">Ceate Room</a>
                        <div class="table-responsive">
                            <table class="table table-dark table-borderless mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            No
                                        </th>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Bed
                                        </th>
                                        <th>
                                            Capacity
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>

                                            Settings
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Room item in Model.Items)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                @count
                                            </td>

                                            <td>
                                                <img style="width:150px;height:150px;" src="~/assets/images/rooms/@item.RoomImages.FirstOrDefault(x=>x.IsPrimary==true)?.Url" />
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                               $@item.Price
                                            </td><td>
                                                @item.Bed
                                            </td>
                                            <td>
                                                @item.Capacity
                                            </td>
                                            <td>
                                                @item.Category.Name
                                            </td>
                                            <td>
                                                @if (item.Status == true)
                                                {
                                                    <h4 class="text-info">Active</h4>
                                                }
                                                else
                                                {
                                                    <h4 class="text-danger">Reserved</h4>
                                                }
                                            </td>
                                            <td>
                                                <a asp-action="Update" asp-controller="Room" asp-route-id="@item.Id" class="btn btn-warning btn-info"><i class="mdi mdi-grease-pencil"></i></a>
                                                <a asp-action="Delete" asp-controller="Room" asp-route-id="@item.Id" class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                                <a asp-action="Detail" asp-controller="Room" asp-route-id="@item.Id" asp-route-area="" class="btn btn-outline-info"><i class="mdi mdi-open-in-new"></i></a>
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" class="sub-menu" aria-expanded="false">
                                <li class="page-item @(Model.CurrentPage<=1?"disabled":"")"><a class="page-link" asp-route-page="@(Model.CurrentPage-1)" asp-action="index" asp-controller="Room">Previous</a></li>
                                @for (int i = 0; i < Model.TotalPage; i++)
                                {
                                    <li class="page-item @(Model.CurrentPage - 1 == i? "disabled":"")"><a class="page-link" asp-route-page="@(i+1)" asp-action="index" asp-controller="Room">@(i + 1)</a></li>
                                }

                                <li class="page-item @(Model.TotalPage<=Model.CurrentPage?"disabled":"")"><a class="page-link" asp-route-page="@(Model.CurrentPage+1)" asp-action="index" asp-controller="Room">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
        </div>
    </div>
</div>
