@using QomfortHotelFinal.Areas.Admin.ViewModels.Dashboard;

@model DashboardVM
@{
    int count = 0;
    int co = 0;
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase font-size-12 text-muted mb-3">Rooms</h6>
                                <span class="h3 mb-0"> @Model.Rooms.Count </span>
                            </div>
                           
                        </div> <!-- end row -->

                        <div id="sparkline1" class="mt-3"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase font-size-12 text-muted mb-3">room Services</h6>
                                <span class="h3 mb-0">@Model.Services.Count</span>
                            </div>
                           
                        </div> <!-- end row -->

                        <div id="sparkline2" class="mt-3"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase font-size-12 text-muted mb-3">All Reservations</h6>
                                <span class="h3 mb-0"> @Model.Slides.Count</span>
                            </div>
                           
                        </div> <!-- end row -->

                        <div id="sparkline3" class="mt-3"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase font-size-12 text-muted mb-3">Messages</h6>
                                <span class="h3 mb-0">@Model.Messages.Count </span>
                            </div>
                           
                        </div> <!-- end row -->

                        <div id="sparkline4" class="mt-3"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->


        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Latest Rooms</h4>
                       

                        <div class="table-responsive">
                            <table class="table table-centered table-striped table-nowrap">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>RoomImage</th>
                                        <th>Category Name</th>
                                        <th>Price</th>
                                        <th>Capacity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   @foreach (var item in Model.Rooms)
                                    {
                                        count++;
                                        <tr>
                                            <td >
                                                @count
                                            </td>
                                            <td >
                                                <img alt="table-user" src="~/assets/images/rooms/@item.RoomImages.FirstOrDefault(x=>x.IsPrimary==true)?.Url" class="mr-2 avatar-xs rounded-circle" />
                                            </td>
                                            <td>
                                               @item.Category.Name
                                            </td>
                                            <td>
                                               @item.Price
                                            </td>
                                            <td>
                                               @item.Capacity
                                            </td>
                                          
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Your Statement</h4>
                       
                        <div class="table-responsive">
                            <table class="table table-centered table-striped table-nowrap">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Message Content</th>
                                        <th>Rating </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Messages)
                                    {
                                        co++;
                                        <tr>
                                            <td>
                                                @co
                                            </td>
                                            <td>
                                               @item.Messages
                                            </td>

                                            <td>
                                                <div class="rating">
                                                    @for (int i = 5; i >= 1; i--)
                                                    {
                                                        @if (i <= item.Rate)
                                                        {
                                                            <i class="fas fa-star text-warning"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fas fa-star"></i>
                                                        }
                                                    }
                                                </div>
                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row-->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


<style>
    .card-pricing .card-pricing-features li {
        padding: 15px;
    }

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
    }

        .rating > input {
            display: none;
        }

        .rating > label {
            display: inline-block;
            position: relative;
            width: 1.1em;
            font-size: 3em;
            color: #ccc;
            cursor: pointer;
        }

            .rating > label:hover,
            .rating > label:hover ~ label,
            .rating > input:checked ~ label {
                color: #fdd835;
            }
</style>