@model List<Room>
 <!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->
<section class="hidden-bar">
    <div class="inner-box text-center">
        <div class="cross-icon"><span class="fa fa-times"></span></div>
        <div class="title">
            <h4>Get Appointment</h4>
        </div>

        <!--Appointment Form-->
        <div class="appointment-form">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="text" name="text" value="" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <textarea placeholder="Message" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="theme-btn">Submit now</button>
                </div>
            </form>
        </div>

        <!--Social Icons-->
        <div class="social-style-one">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</section>
<!--End Hidden Sidebar -->
<!-- Page Banner Start -->
<section class="page-banner-area pt-140 rpt-80 pb-240 rpb-150 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(assets/images/background/banner.jpg)">
    <div class="container">
        <div class="banner-inner text-white rpb-25">
            <h1 class="page-title wow fadeInUp delay-0-2s">Room List</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="index.html">home</a></li>
                    <li class="breadcrumb-item active">Room List</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Search Filter and Features Start -->
<div class="search-and-features-area pb-50 rel z-1">
    <div class="container container-1550">
        <div class="search-filter-inner rel z-2">
            <div class="section-title text-white mb-20 wow fadeInUp delay-0-2s">
                <span class="sub-title mb-5">Booking Your Seat</span>
                <h3>Find & Booked Your Seats</h3>
            </div>
            <div class="filter-item wow fadeInUp delay-0-3s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check In">
            </div>
            <div class="filter-item wow fadeInUp delay-0-4s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check Out">
            </div>
            <div class="filter-item wow fadeInUp delay-0-5s">
                <select name="adults" id="adults">
                    <option value="adults">Adults</option>
                    <option value="adults1">1</option>
                    <option value="adults2">2</option>
                    <option value="adults3">3</option>
                </select>
            </div>
            <div class="filter-item wow fadeInUp delay-0-6s">
                <select name="children" id="children">
                    <option value="children">Children</option>
                    <option value="children1">1</option>
                    <option value="children2">2</option>
                    <option value="children3">3</option>
                </select>
            </div>
            <button class="theme-btn style-two wow fadeInUp delay-0-7s">Search Now <i class="far fa-angle-right"></i></button>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</div>
<!-- Search Filter and Features End -->
<!-- Rooms Area start -->
<section class="rooms-list-area pb-120 rpb-90 rel z-2">
    <div class="container">
       @foreach (var item in Model)
       {
            <div class="room-list-item wow fadeInUp delay-0-2s">
                <div class="image">
                    <img src="~/assets/images/rooms/@item.RoomImages.FirstOrDefault(p=>p.IsPrimary==true)?.Url" alt="Room">
                </div>
                <div class="content">
                    <h3><a asp-action="Detail" asp-controller="Room" asp-route-id="@item.Id">@item.Name</a></h3>
                    <ul class="blog-meta">
                        <li>
                            <i class="far fa-drafting-compass"></i>
                            <a href="#">Size :@item.Size 2</a>
                        </li>
                        <li>
                            <i class="far fa-bed-alt"></i>
                            <a href="#">Beds : @item.Bed</a>
                        </li>
                        <li>
                            <i class="far fa-bath"></i>
                            <a href="#">Bathrooms :@item.BathRoom</a>
                        </li>
                    </ul>
                    <p>@item.Description</p>
                    <hr>
                    <div class="price-more">
                        <div class="price">Price <span>$@item.Price</span>/per night</div>
                        <a class="read-more" asp-action="Detail" asp-controller="Room" asp-route-id="@item.Id">Room Details <i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
       }
       
        <ul class="pagination pt-10 flex-wrap wow fadeInUp delay-0-2s">
            <li class="page-item disabled">
                <span class="page-link"><i class="far fa-arrow-left"></i></span>
            </li>
            <li class="page-item active">
                <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="far fa-arrow-right"></i></a>
            </li>
        </ul>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Rooms Area end -->
<!-- Instagram Area start -->
<section class="instagram-area">
    <div class="instagram-item wow fadeInUp delay-0-2s">
        <a class="instagram-gallery" href="assets/images/instagrams/instagram1.jpg">
            <img src="~/assets/images/instagrams/instagram1.jpg" alt="instagram">
        </a>
    </div>
    <div class="instagram-item wow fadeInUp delay-0-3s">
        <a class="instagram-gallery" href="assets/images/instagrams/instagram2.jpg">
            <img src="~/assets/images/instagrams/instagram2.jpg" alt="instagram">
        </a>
    </div>
    <div class="instagram-item wow fadeInUp delay-0-4s">
        <div class="content text-white">
            <div class="icon"><i class="fab fa-instagram"></i></div>
            <h2><a href="https://www.instagram.com">Follow Our Instagram</a></h2>
            <hr>
            <div class="call-text">Make A Call</div>
            <a class="h2" href="callto:+000(123)45688">+000 (123) 456 88</a>
        </div>
    </div>
    <div class="instagram-item wow fadeInUp delay-0-5s">
        <a class="instagram-gallery" href="assets/images/instagrams/instagram3.jpg">
            <img src="~/assets/images/instagrams/instagram3.jpg" alt="instagram">
        </a>
    </div>
    <div class="instagram-item wow fadeInUp delay-0-6s">
        <a class="instagram-gallery" href="assets/images/instagrams/instagram4.jpg">
            <img src="~/assets/images/instagrams/instagram4.jpg" alt="instagram">
        </a>
    </div>
</section>
<!-- Instagram Area end -->
