@model OrderVM
@inject IOptions<StripeSettings> Stripe
@{

}

<br />
<br />
<br />
<br />
<br />


<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height">
       
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Checkout Page</h2>
                        <ul>
                            <li>
                                <a asp-action="Index" asp-controller="Home" class="btn btn-warning">Home</a>
                            </li>
                            <li>Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-12">
                    <form method="post">
                        <div class="checkbox-form" onchange="this.form.submit()">
                            <h3>Billing Details</h3>
                            <div class="row">

                            
                            <script src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="@Stripe.Value.Publishablekey"
                                    data-amount="@ViewBag.Total"
                                    data-name="Your project name"
                                    data-locale="en"
                                    data-discription="Sample charge"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-zip-code="true">
                            </script>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">RoomName--RoomPrice--ArrivalDate--DeparturDate</th>
                                        <th class="cart-product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Reservations)
                                    {
                                       
                                        <tr class="cart_item">
                                            <td class="cart-product-name">
                                                @item.Room.Name --<strong class="product-quantity">
                                                    $@item.Room.Price
                                                </strong>--<strong class="product-quantity">
                                                    @item.ArrivalDate.ToShortDateString()
                                                </strong>--<strong class="product-quantity">
                                                    @item.DeparturDate.ToShortDateString()
                                                </strong>
                                            </td>
                                            <td class="cart-product-total">
                                                <span class="amount">$@(((item.DeparturDate - item.ArrivalDate).Days)*item.Room.Price)</span>
                                            </td>
                                        </tr>
                                    }
                                    
                                </tbody>
                                <tfoot>

                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td>
                                            <strong><span class="amount">$@Model.TotalPrice</span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                               
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="#payment-1">
                                            <h5 class="panel-title">
                                                <a href="#"
                                                   class=""
                                                   data-bs-toggle="collapse"
                                                   data-bs-target="#collapseOne"
                                                   aria-expanded="true">
                                                    Direct Bank Transfer.
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne"
                                             class="collapse show"
                                             data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <p>
                                                    Make your payment directly into our bank
                                                    account. Please use your Order ID as the payment
                                                    reference. Your order won’t be shipped until the
                                                    funds have cleared in our account.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                   
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>