@using QomfortHotelFinal.ViewModels;
@model RoomVM

<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->
<section class="hidden-bar">
    <div class="inner-box text-center">
        <div class="cross-icon"><span class="fa fa-times"></span></div>
        <div class="title">
            <h4>Get Appointment</h4>
        </div>

        <!--Appointment Form-->
        <div class="appointment-form">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="text" name="text" value="" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <textarea placeholder="Message" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="theme-btn">Submit now</button>
                </div>
            </form>
        </div>

        <!--Social Icons-->
        <div class="social-style-one">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</section>
<!--End Hidden Sidebar -->
<!-- Page Banner Start -->

<section class="page-banner-area pt-195 rpt-135 pb-190 rpb-125 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(/assets/images/rooms/@Model.Room.RoomImages.FirstOrDefault(p=>p.IsPrimary==true)?.Url)">
    <div class="container">
        <div class="banner-inner text-white rpb-25">
            <h1 class="page-title wow fadeInUp delay-0-2s">@Model.Room.Name</h1>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Room Details Area start -->
<section class="room-details-area py-130 rpy-100 rel z-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="room-details-content rmb-55">
                    <div class="section-title wow fadeInUp delay-0-2s">
                        <h2>Description</h2>
                    </div>
                    <ul class="blog-meta wow fadeInUp delay-0-3s">
                        <li>
                            <i class="far fa-drafting-compass"></i>
                            <a href="#">Size : @Model.Room.Size 2</a>
                        </li>
                        <li>
                            <i class="far fa-bed-alt"></i>
                            <a href="#">Beds :@Model.Room.Bed</a>
                        </li>
                        <li>
                            <i class="far fa-bath"></i>
                            <a href="#">Bathrooms : @Model.Room.BathRoom</a>
                        </li>
                        <li>
                            <i class="far fa-user"></i>
                            <a href="#">Capacity : @Model.Room.Capacity</a>
                        </li>
                       
                    </ul>
                    <div class="price mb-35">$@Model.Room.Price /Per Night</div>
                    <p>@Model.Room.DetailDescription</p>
                    <div class="room-details-images mt-45 wow fadeInUp delay-0-2s">
                        @foreach (var item in Model.Room.RoomImages.FindAll(x => x.IsPrimary == null))
                        {
                            <img src="~/assets/images/rooms/@item.Url" alt="Room Details">
                        }

                    </div>
                    <div class="section-title mt-35">
                        <h2>Room Facilities</h2>
                    </div>
                    <p>Aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                    <ul class="list-style-two three-column pt-10 wow fadeInUp delay-0-2s">
                        @foreach (var item in Model.Room.RoomFacilities)
                        {
                            <li>@item.Facility.Name</li>
                        }

                    </ul>
                    <div class="section-title mt-45">
                        <h2>Room Services</h2>
                    </div>
                    <ul class="list-style-two pt-10 wow fadeInUp delay-0-2s">
                        @foreach (var item in Model.Room.RoomServicees)
                        {
                            <li>@item.Servicee.Name</li>
                        }

                    </ul>
                  
                  
                   
                                     
                    <div id="calendar"></div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.0/main.js"></script>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            var calendarEl = document.getElementById('calendar');

                            var events = [];

                            // Reservation dates from the server-side
                            var reservationDates = @Html.Raw(Json.Serialize(Model.ReservationDates));

                            // Current date
                            var today = moment();

                            // Populate events array
                            reservationDates.forEach(function (reservationDate) {
                                var start = moment(reservationDate).startOf('day');
                                var end = moment(reservationDate).add(1, 'day').startOf('day');

                                var color = start.isSameOrAfter(today) ? 'red' : 'green'; // Check if the reservation date is in the future

                                events.push({
                                    title: 'Reservation',
                                    start: start.format('YYYY-MM-DD'),
                                    end: end.format('YYYY-MM-DD'),
                                    allDay: true,
                                    color: color
                                });

                                // If the reservation date is in the past and there is no following reservation date, add the day to the events array with aqua color
                                if (start.isBefore(today) && !reservationDates.some(d => moment(d).isAfter(reservationDate))) {
                                    var nextDay = moment(reservationDate).add(1, 'day').startOf('day');
                                    var endDate = nextDay.isSameOrBefore(today) ? moment(today).add(1, 'day').startOf('day') : nextDay;
                                    events.push({
                                        title: 'Available',
                                        start: nextDay.format('YYYY-MM-DD'),
                                        end: endDate.format('YYYY-MM-DD'),
                                        allDay: true,
                                        color: 'aqua'
                                    });
                                }
                            });

                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                initialView: 'dayGridMonth',
                                events: events
                            });

                            calendar.render();
                        });
                    </script>

                   
                  

                    <div class="room-location mt-70 wow fadeInUp delay-0-2s">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m10!1m3!1d142190.2862584524!2d-74.01298319978558!3d40.721725351435126!2m1!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sbd!4v1663473911885!5m2!1sen!2sbd" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                 
                   
                    
                   
                </div>
            </div>
            <div class="col-lg-5">
                <div class="room-details-sidebar bgc-lighter p-50 rp-40">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="Reserv" asp-controller="Room" method="post" class="widget-search-filter wow fadeInUp delay-0-4s">
                        <div class="form-group">
                            <label asp-for="ArrivalDate">Check In</label>
                            <input asp-for="ArrivalDate" type="date" value="DateTime.Now" required>
                            <span asp-validation-for="ArrivalDate"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DeparturDate">Check Out</label>
                            <input asp-for="DeparturDate" type="date" value="DateTime.Now" required>
                            <span asp-validation-for="DeparturDate"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PersonCount">Adults</label>
                            <input asp-for="PersonCount" type="number" required>
                            <span class="text-danger" asp-validation-for="PersonCount"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Children">Children</label>
                            <input asp-for="Children" type="number" required>
                            <span asp-validation-for="Children"></span>
                        </div>
                        @{
                            if (!User.IsInRole("Admin"))
                            {
                                <button class="theme-btn w-100">Check Availability <i class="far fa-angle-right"></i></button>
                            }
                        }
                       
                    </form>
                </div>
            </div>
         
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Room Details Area end -->
