@model PaginateVM<Room>
<!--Form Back Drop-->

<!-- Page Banner Start -->
<section class="page-banner-area pt-140 rpt-80 pb-240 rpb-150 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(/assets/images/background/detail1c.jpg)">
    <div class="container">
        <div class="banner-inner text-white rpb-25">
            <h1 class="page-title wow fadeInUp delay-0-2s">Room List</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="index.html">home</a></li>
                    <li class="breadcrumb-item active">Room List</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Search Filter and Features Start -->
<div class="search-and-features-area pb-50 rel z-1">
    <div class="container container-1550">
        <div class="search-filter-inner rel z-2">
            <div class="section-title text-white mb-20 wow fadeInUp delay-0-2s">
                <span class="sub-title mb-5">Booking Your Seat</span>
                <h3>Find & Booked Your Seats</h3>
            </div>
            <div class="filter-item wow fadeInUp delay-0-3s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check In">
            </div>
            <div class="filter-item wow fadeInUp delay-0-4s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check Out">
            </div>
            <div class="filter-item wow fadeInUp delay-0-5s">
                <select name="adults" id="adults">
                    <option value="adults">Adults</option>
                    <option value="adults1">1</option>
                    <option value="adults2">2</option>
                    <option value="adults3">3</option>
                </select>
            </div>
            <div class="filter-item wow fadeInUp delay-0-6s">
                <select name="children" id="children">
                    <option value="children">Children</option>
                    <option value="children1">1</option>
                    <option value="children2">2</option>
                    <option value="children3">3</option>
                </select>
            </div>
            <button class="theme-btn style-two wow fadeInUp delay-0-7s">Search Now <i class="far fa-angle-right"></i></button>
        </div>
    </div>

    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</div>

<!-- Search Filter and Features End -->
<!-- Rooms Area start -->
<section class="rooms-list-area pb-120 rpb-90 rel z-2">
    <div class="container">
       <div class="row">
           <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="widget widget-sorting wow fadeInUp delay-0-6s" style="text-align: center; background: linear-gradient(to right, #ff9a9e, #fad0c4, #a18cd1, #fbc2eb, #ff9a9e); padding: 20px;">
                    <h4 class="widget-title">Sorting</h4>
                        <form asp-action="RoomList" asp-controller="Room" asp-route-categoryId="@Model.CategoryId"
                              asp-route-search="@Model.Search"  class="default-search-form">
                        <select onchange="this.form.submit()" name="Order" class="nice-select" style="background: linear-gradient(to right, #ff9a9e, #fad0c4, #a18cd1, #fbc2eb, #ff9a9e); color: #fff;">
                            <option value=""> Default</option>
                                <option value="1">Sort by Name</option>
                            <option value="2">Price</option>
                                <option value="3">Sort by Capacity</option>
                                <option value="4">Sort by Size</option>
                                <option value="5">Sort by Bathroom</option>
                                <option value="6">Sort by Bed</option>
                                <option value="7">Sort by Latest</option>
                          

                        </select>
                    </form>
                </div>

                </div>
            </div>
           
           <div class="col-lg-8">
                </br>
             </br>
             </br>
             </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                @foreach (var item in Model.Items)
                {
                    <div class="room-list-item wow fadeInUp delay-0-2s">
                        <div class="image">
                            <img src="~/assets/images/rooms/@item.RoomImages.FirstOrDefault(p=>p.IsPrimary==true)?.Url" alt="Room">
                        </div>
                        <div class="content">
                            <h3><a asp-action="Detail" asp-controller="Room" asp-route-id="@item.Id">@item.Name</a></h3>
                            <ul class="blog-meta">
                                <li>
                                    <i class="far fa-drafting-compass"></i>
                                    <a href="#">Size :@item.Size 2</a>
                                </li>
                                <li>
                                    <i class="far fa-user"></i>
                                    <a href="#">Capacity : @item.Capacity</a>
                                </li>
                                <li>
                                    <i class="far fa-bed-alt"></i>
                                    <a href="#">Beds : @item.Bed</a>
                                </li>
                                <li>
                                    <i class="far fa-bath"></i>
                                    <a href="#">Bathrooms :@item.BathRoom</a>
                                    <br />
                                    <br />
                                    @if (item.Status == true)
                                    {
                                        <i class="feather-arrow-right-circle"></i>
                                        <a class="text-info">Status :Active</a>



                                    }
                                    else
                                    {
                                        <i class="feather-arrow-right-circle"></i>
                                        <a class="text-danger">Status :Reserved</a>
                                    }
                                </li>
                                <li>

                                </li>
                            </ul>
                            <p>@item.Description</p>
                            <hr>
                            <div class="price-more">
                                <div class="price">Price <span>$@item.Price</span>/per night</div>
                                <a class="read-more" asp-action="Reserv" asp-controller="Room" asp-route-id="@item.Id">Room Details <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
                

           </div>
            <div class="col-lg-4">
                <div class="main-sidebar rmt-65">
                    <div class="widget widget-search wow fadeInUp delay-0-2s">

                        <h4 class="widget-title">Search</h4>
                        <form asp-action="RoomList" asp-controller="Room" asp-route-categoryId="@Model.CategoryId"asp-route-order="@Model.Orrder"
                              class="default-search-form">
                            <input name="search" type="text" placeholder="Keywords" value="@(Model.Search==null?"":@Model.Search)">
                            <button type="submit" class="searchbutton far fa-search"></button>
                        </form>
                    </div>
                  
                    <div class="widget widget-category wow fadeInUp delay-0-4s">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <li><a asp-action="RoomList" asp-controller="Room" class="category-link @(Model.CategoryId == null ? "active" : "")">All<i class="far fa-angle-right"></i></a></li>
                          @foreach (var item in Model.Categories)
                            {
                                <li><a asp-action="RoomList" asp-controller="Room" asp-route-categoryId="@item.Id"
                                       asp-route-order="@Model.Orrder" asp-route-search="@Model.Search" class="category-link"
                                       style="@(Model.CategoryId == item.Id ? "color: red;" : "")">@item.Name<span>(@item.Rooms.Count)</span><i class="far fa-angle-right"></i></a>
                                </li>
                            }
                           
                        </ul>
                    </div>
                    <div class="widget widget-recent-news wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Recent News</h4>
                        <ul>
                            @foreach (var item in Model.Blogs)
                            {
                                <li>
                                    <div class="image">
                                        <img style="width:120px;height:100px;" src="~/assets/images/blog/@item.HoverImage ">
                                    </div>
                                    <div class="content">
                                        <h5><a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id">@item.Title</a></h5>
                                        <a asp-action="Detail" asp-controller="Blog" asp-route-id="@item.Id" class="read-more">Read More <i class="far fa-angle-right"></i></a>
                                    </div>
                                </li>
                            }                           
                        </ul>
                    </div>
                    <div class="widget widget-tag-cloud wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Popular Services</h4>
                        <div class="tag-coulds">
                          @foreach (var item in Model.Services)
                            {
                                <a asp-action="RoomList" asp-controller="Room" asp-route-serviceId="@item.Id" 
                                   asp-route-order="@Model.Orrder" asp-route-search="@Model.Search" class="category-link"
                                   style="@(Model.ServiceId == item.Id ? "color: red;" : "")">@item.Name</a>
                            }
                          
                        </div>
                    </div>
                    <div class="widget widget-gallery wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Gallery</h4>
                        <div class="gallery-widget">
                            <a href="#"> <img src="~/assets/images/widgets/gallery1.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery2.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery3.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery4.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery5.jpg" alt="Gallery"> </a>
                            <a href="#"> <img src="~/assets/images/widgets/gallery6.jpg" alt="Gallery"> </a>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       @*  <nav aria-label="Page navigation example">
            <ul class="pagination" class="sub-menu" aria-expanded="false">
                <li class="page-item @(Model.CurrentPage<=1?"disabled":"")"><a class="page-link" asp-route-page="@(Model.CurrentPage-1)" asp-action="index" asp-controller="Room">Previous</a></li>
                @for (int i = 0; i < Model.TotalPage; i++)
                {
                    <li class="page-item @(Model.CurrentPage - 1 == i? "disabled":"")"><a class="page-link" asp-route-page="@(i+1)" asp-action="index" asp-controller="Room">@(i + 1)</a></li>
                }

                <li class="page-item @(Model.TotalPage<=Model.CurrentPage?"disabled":"")"><a class="page-link" asp-route-page="@(Model.CurrentPage+1)" asp-action="index" asp-controller="Room">Next</a></li>
            </ul>
        </nav> *@
        <ul class="pagination pt-10 flex-wrap wow fadeInUp delay-0-2s"aria-expanded="false">
            <li class="page-item @(Model.CurrentPage<=1? " disabled":"")">
                <a class="page-link" asp-route-page="@(Model.CurrentPage-1)" asp-action="roomlist" asp-controller="Room">Previous</a>
                <span class="page-link"><i class="far fa-arrow-left"></i></span>
            </li>
            <li class="page-item active">
                <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="far fa-arrow-right"></i></a>
            </li>
        </ul>
    </div>

    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Rooms Area end -->
