@model List<Room>
<!--Form Back Drop-->

<!-- Page Banner Start -->
<section class="page-banner-area pt-140 rpt-80 pb-240 rpb-150 rel z-1 bgs-cover bgc-black text-center" style="background-image: url(/assets/images/background/detail1c.jpg)">
    <div class="container">
        <div class="banner-inner text-white rpb-25">
            <h1 class="page-title wow fadeInUp delay-0-2s">Room List</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="index.html">home</a></li>
                    <li class="breadcrumb-item active">Room List</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Page Banner End -->
<!-- Search Filter and Features Start -->
<div class="search-and-features-area pb-50 rel z-1">
    <div class="container container-1550">
        <div class="search-filter-inner rel z-2">
            <div class="section-title text-white mb-20 wow fadeInUp delay-0-2s">
                <span class="sub-title mb-5">Booking Your Seat</span>
                <h3>Find & Booked Your Seats</h3>
            </div>
            <div class="filter-item wow fadeInUp delay-0-3s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check In">
            </div>
            <div class="filter-item wow fadeInUp delay-0-4s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check Out">
            </div>
            <div class="filter-item wow fadeInUp delay-0-5s">
                <select name="adults" id="adults">
                    <option value="adults">Adults</option>
                    <option value="adults1">1</option>
                    <option value="adults2">2</option>
                    <option value="adults3">3</option>
                </select>
            </div>
            <div class="filter-item wow fadeInUp delay-0-6s">
                <select name="children" id="children">
                    <option value="children">Children</option>
                    <option value="children1">1</option>
                    <option value="children2">2</option>
                    <option value="children3">3</option>
                </select>
            </div>
            <button class="theme-btn style-two wow fadeInUp delay-0-7s">Search Now <i class="far fa-angle-right"></i></button>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</div>
<!-- Search Filter and Features End -->
<!-- Rooms Area start -->
<section class="rooms-list-area pb-120 rpb-90 rel z-2">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="room-list-item wow fadeInUp delay-0-2s">
                <div class="image">
                    <img src="~/assets/images/rooms/@item.RoomImages.FirstOrDefault(p=>p.IsPrimary==true)?.Url" alt="Room">
                </div>
                <div class="content">
                    <h3><a asp-action="Detail" asp-controller="Room" asp-route-id="@item.Id">@item.Name</a></h3>
                    <ul class="blog-meta">
                        <li>
                            <i class="far fa-drafting-compass"></i>
                            <a href="#">Size :@item.Size 2</a>
                        </li>
                        <li>
                            <i class="far fa-bed-alt"></i>
                            <a href="#">Beds : @item.Bed</a>
                        </li>
                        <li>
                            <i class="far fa-bath"></i>
                            <a href="#">Bathrooms :@item.BathRoom</a>
                            <br />
                            <br />
                            @if (item.Status == true)
                            {
                                <i class="feather-arrow-right-circle"></i>
                                <a class="text-info">Status :Active</a>
                               
                                

                            }
                            else
                            {
                                <i class="feather-arrow-right-circle"></i>
                                <a class="text-danger">Status :Reserved</a>
                            }
                        </li>
                        <li>
                           
                        </li>
                    </ul>
                    <p>@item.Description</p>
                    <hr>
                    <div class="price-more">
                        <div class="price">Price <span>$@item.Price</span>/per night</div>
                        <a class="read-more" asp-action="Reserv" asp-controller="Room" asp-route-id="@item.Id">Room Details <i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        }

        <ul class="pagination pt-10 flex-wrap wow fadeInUp delay-0-2s">
            <li class="page-item disabled">
                <span class="page-link"><i class="far fa-arrow-left"></i></span>
            </li>
            <li class="page-item active">
                <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="far fa-arrow-right"></i></a>
            </li>
        </ul>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Rooms Area end -->
<