@using QomfortHotelFinal.ViewModels;
@model HomeVM

<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->
<section class="hidden-bar">
    <div class="inner-box text-center">
        <div class="cross-icon"><span class="fa fa-times"></span></div>
        <div class="title">
            <h4>Get Appointment</h4>
        </div>

        <!--Appointment Form-->
        <div class="appointment-form">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="text" name="text" value="" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <textarea placeholder="Message" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="theme-btn">Submit now</button>
                </div>
            </form>
        </div>

        <!--Social Icons-->
        <div class="social-style-one">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</section>
<!--End Hidden Sidebar -->
<!-- Slider Section Start -->
<section class="hero-slider-two rel z-1">
    <div class="slider-two-active">


        @foreach (var item in Model.Slides)
        {
            <div class="slider-item-two" style="background-image: url(/assets/images/slider/@item.Image)">
                <div class="container">
                    <div class="slider-content-two">
                        <h1>@item.Title</h1>
                        <p>@item.Description</p>
                        <a asp-action="RoomList" asp-controller="Room" class="theme-btn">Explore Our Rooms <i class="far fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
    <div class="hero-left-shapes"></div>
    <div class="hero-right-shapes"></div>
</section>
<!-- Slider Section End -->
<!-- Search Filter and Features Start -->
<section class="search-and-features-area bgc-lighter pb-50 rel z-1">
    <div class="container container-1550">
        <div class="search-filter-inner rel z-2">
            <div class="section-title text-white mb-20 wow fadeInUp delay-0-2s">
                <span class="sub-title mb-5">Booking Your Seat</span>
                <h3>Find & Booked Your Seats</h3>
            </div>
            <div class="filter-item wow fadeInUp delay-0-3s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check In">
            </div>
            <div class="filter-item wow fadeInUp delay-0-4s">
                <input type="text" onfocus="(this.type='date')" placeholder="Check Out">
            </div>
            <div class="filter-item wow fadeInUp delay-0-5s">
                <select name="adults" id="adults">
                    <option value="adults">Adults</option>
                    <option value="adults1">1</option>
                    <option value="adults2">2</option>
                    <option value="adults3">3</option>
                </select>
            </div>
            <div class="filter-item wow fadeInUp delay-0-6s">
                <select name="children" id="children">
                    <option value="children">Children</option>
                    <option value="children1">1</option>
                    <option value="children2">2</option>
                    <option value="children3">3</option>
                </select>
            </div>
            <button class="theme-btn style-two wow fadeInUp delay-0-7s">Search Now <i class="far fa-angle-right"></i></button>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model.Servicees)
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-small">
                    <div class="feature-item-three wow fadeInUp delay-0-2s">
                        <div class="icon">
                            <i class="@item.Icon"></i>
                        </div>
                        <h6><a href="room-details.html">@item.Name</a></h6>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>

<!-- Search Filter and Features End -->
<!-- About Area start -->
<section class="about-area-three py-130 rpy-100 rel">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-three-image-part rmb-55 rel">
                    <div class="first-image wow fadeInRight delay-0-2s">
                        <img src="~/assets/images/about/@Model.HomeAbouts.Img1" alt="About">
                    </div>
                    <div class="middle-image wow fadeInDown delay-0-3s">
                        <img src="~/assets/images/about/@Model.HomeAbouts.Img2" alt="About">
                    </div>
                    <div class="last-image wow fadeInLeft delay-0-4s">
                        <img src="~/assets/images/about/@Model.HomeAbouts.Img3" alt="About">
                    </div>
                    <a href="https://www.youtube.com/watch?v=9Y7ma241N8k" class="mfp-iframe video-play"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content-three">
                    <div class="section-title mb-40 wow fadeInUp delay-0-2s">
                        <span class="sub-title mb-15">About Company</span>
                        <h2>@Model.HomeAbouts.Title</h2>
                        <p>@Model.HomeAbouts.Description</p>
                    </div>
                    <div class="feature-list mb-15 wow fadeInUp delay-0-3s">
                        @foreach (var item in Model.Servicees)
                        {
                            <div class="feature-item">
                                <div class="icon">
                                    <i class="@item.Icon"></i>
                                </div>
                                <div class="content">
                                    <h5>@item.Name</h5>
                                </div>
                            </div>
                        }

                    </div>
                    <a href="about.html" class="theme-btn wow fadeInUp delay-0-4s">Learn More Us <i class="far fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- About Area end -->
<!-- Superior Room Area start -->
<section class="superior-room-area pb-130 rpb-100 rel z-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="superior-room-content rmb-75">
                    @foreach (var item in Model.Rooms)
                    {
                        <div class="feature-item style-three wow fadeInUp delay-0-2s">
                            <div class="content">
                                <h3><a href="room-details.html">@item.Name</a></h3>
                                <p>From <span>$ @item.Price</span>/per night</p>
                            </div>
                            <a asp-action="Detail" asp-controller="Room" asp-route-id="@item.Id" class="details-btn"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    }

                </div>
            </div>
            <div class="col-lg-7">
                <div class="superior-room-image rel wow fadeInUp delay-0-4s">
                    <img src="~/assets/images/rooms/@Model.HomeAbouts.rImg" alt="Superior Room">

                </div>
            </div>
        </div>
    </div>
    <div class="triangle-shapes"></div>
    <div class="triangle-shapes-two"></div>
</section>
<!-- Superior Room Area end -->
<!-- Room Area start -->
<section class="room-area-four pt-130 rpt-100 pb-100 rpb-70 rel z-1 bgc-black">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7 col-md-10">
                <div class="section-title text-center text-white mb-60 rmb-40 wow fadeInUp delay-0-2s">
                    <h2>Explore Our Luxury Trendy Rooms and Suites</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center wow fadeInUp delay-0-2s">
            <ul class="nav room-tab mb-50" role="tablist">
                <li>
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#rooms">Room</button>
                </li>
                <li>
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#suites">Cheap Room</button>
                </li>
            </ul>
        </div>
        <div class="tab-content pb-35 wow fadeInUp delay-0-4s">
            <div class="tab-pane fade show active" id="rooms">
                @await Component.InvokeAsync("RoomPartial",1)

            </div>
            <div class="tab-pane fade" id="suites">
                @await Component.InvokeAsync("RoomPartial",2)

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gap-70">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="counter-item style-two counter-text-wrap wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <i class="fal fa-hotel"></i>
                    </div>
                    <span class="count-text" data-speed="3000" data-stop="49">0</span>
                    <span class="counter-title">Luxury Hotels</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="counter-item style-two counter-text-wrap wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <i class="fal fa-bed-alt"></i>
                    </div>
                    <span class="count-text" data-speed="3000" data-stop="305">0</span>
                    <span class="counter-title">Luxury Rooms</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="counter-item style-two counter-text-wrap wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <i class="fal fa-umbrella-beach"></i>
                    </div>
                    <span class="count-text" data-speed="3000" data-stop="68">0</span>
                    <span class="counter-title">Beaches</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="counter-item style-two counter-text-wrap wow fadeInUp delay-0-2s">
                    <div class="icon">
                        <i class="fal fa-users-cog"></i>
                    </div>
                    <span class="count-text" data-speed="3000" data-stop="383">0</span>
                    <span class="counter-title">Regular Guest</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Room Area end -->
<!-- Services Area start -->
<section class="services-area-three pt-130 rpt-100 pb-130 rpb-100 rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7 col-md-9">
                <div class="section-title text-center mb-50 rmb-40 wow fadeInUp delay-0-2s">
                    <h2>We Provide Amazing Service to Enjoy Your Days</h2>
                </div>
            </div>
        </div>
        <div class="services-three-slider">
            @foreach (var item in Model.Servicees)
            {
                <div class="service-item-two wow fadeInUp delay-0-2s">
                    <span class="number">01</span>
                    <h4><a href="room-details.html">@item.Name</a></h4>
                    <p>@item.Description</p>
                    <div class="icon">
                        <i class="@item.Icon"></i>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Services Area end -->
<!-- Gallery Area start -->
<section class="gallery-area-two pb-100 rpb-70 rel z-1">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.Galleries)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="gallery-item style-two wow fadeInUp delay-0-2s">
                        <div class="image">
                            <img src="~/assets/images/gallery/@item.Image" alt="Gallery">
                        </div>
                        <div class="over-content">
                            <h2>@item.Name</h2>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Gallery Area end -->
<!-- Services Area start -->
<section class="services-area-four pb-90 rpb-60 rel z-2">
    <div class="container">
        <div class="row gap-80 justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="activity-left-content mb-40 rmb-55 wow fadeInUp delay-0-2s">
                    <div class="section-title mb-35">
                        <span class="sub-title mb-15">Our Activity</span>
                        <h2>Quality Services & Food Your Trip Are Enjoyable</h2>
                        <p>Sed ut perspiciatis unde omniste natus voluptatem accusantiume doloremque laudantium, totam rem aperiam inventore</p>
                    </div>
                    <a class="theme-btn" href="room-grid.html">Explore Our Rooms <i class="fal fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row gap-50">
                    @foreach (var item in Model.Servicees)
                    {
                        <div class="col-lg-4 col-6 col-small">
                            <div class="service-item style-two wow fadeInUp delay-0-3s">
                                <div class="icon">
                                    <i class="flaticon-mop"></i>
                                </div>
                                <div class="content">
                                    <h4><a href="room-details.html">@item.Name</a></h4>
                                    <p>@item.Description</p>
                                    <a class="read-more" href="room-details.html">Read More <i class="@item.Icon"></i></a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
    <div class="triangle-shapes"></div>
    <div class="triangle-shapes-two"></div>
</section>
<!-- Services Area end -->
<!-- Testimonials Area start -->
<section class="testimonials-area-three py-130 rpy-100 rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7 col-md-9">
                <div class="section-title text-center mb-60 rmb-40 wow fadeInUp delay-0-2s">
                    <span class="sub-title mb-15">Our Testimonials</span>
                    <h2>What Our Customer Say Us</h2>
                </div>
            </div>
        </div>
        <div class="testimonials-three-slider">
            @foreach (var item in Model.Testimonials)
            {
                <div class="testimonials-item-three wow fadeInUp delay-0-2s">
                    <div class="author">
                        <img src="~/assets/images/testimonials/@item.Image" alt="Testi Author">
                    </div>
                    <div class="text">@item.Comment</div>
                    <div class="testi-des">
                        <h6>@item.Name</h6>

                    </div>
                    <div class="ratting">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Testimonials Area end -->
<!-- Blog Area start -->
<section class="blog-area-three bgc-lighter pt-130 rpt-100 pb-100 rpb-70 rel z-1">
    <div class="container">
        <div class="row justify-content-between align-items-center pb-30">
            <div class="col-xl-6 col-lg-7">
                <div class="section-title mb-30 wow fadeInLeft delay-0-2s">
                    <h2>Stay With Us & Get More Updates Latest News & Blog</h2>
                </div>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="theme-btn mb-30 wow fadeInRight delay-0-2s" href="blog.html">View More News <i class="fal fa-angle-right"></i></a>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Blogs)
            {
                <div class="col-xl-4 col-md-6">
                    <div class="blog-grid-item style-two wow fadeInUp delay-0-2s">
                        <h4><a href="blog-details.html">@item.Title</a></h4>
                        <ul class="blog-meta">
                            <li>
                                <i class="far fa-user"></i>
                                <a href="#">@item.Name</a>
                            </li>
                            <li>
                                <i class="far fa-calendar-alt"></i>
                                <a href="#">@item.BlogDate</a>
                            </li>
                        </ul>
                        <div class="image">
                            <img src="~/assets/images/blog/@item.HoverImage" alt="Blog">
                        </div>
                        <a class="read-more" href="blog-details.html">Read More <i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="bg-lines for-bg-white">
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
        <span></span><span></span>
    </div>
</section>
<!-- Blog Area end -->
